
.view-creator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-color: #e0dbdb;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.picture-container {
  width: 370px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 45px;
}

.picture-container img {
  max-width: 100%;
  max-height: 550px;
  border-radius: 10px;
  object-fit: contain;
}

.description-containers {
  flex: 1;
  padding-left: 10px; /* Adjust this value to add spacing between image and description */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 740px;
  margin-left: 0px;
  
  
}
.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
 
}

.name {
  font-size: 1.5rem;
  color: #03455d;
  
  margin-right: 130px;
}

.desc {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #5b74f4;
}

.b {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-left: 290px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 10px ;
}

.button-groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}



.delete-buttons {
  margin: -10px 20px;
  padding: 10px 100px;
 
  color: white;
  
 
  cursor: pointer;
  transition: background-color 0.3s;
width: 400px;

	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;

}
.edit-buttons {
  padding: 10px 100px;
  width: 420px;
  margin: -10px 20px;
  background-color:#79bbff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: background-color 0.3s;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;

}

.add-button:hover,
.delete-buttons:hover {

  
  border-color: black;
  border-width: 1px;

 
}
.edit-buttons:hover {
  background-color: #0056b3;
  border-color: black;
  border-width: 1px;
 
}
